body {
  background-color: black;
}

h1 {
  text-align: center;
  color: white;
}
.whitecat {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: auto;
  height: 450;
}

.blackcat {
  height: 450;
  width: auto;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.pawprint {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
