h1 {
  text-align: center;
}
.whitecat {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.blackcat {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.pawprint {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
